<div class="container mt-5">
  <br><br><br>
    <div class="row">
      <!-- Dashboard Card 1 -->
      <div class="col-md-6">
        <div class="card text-white bg-primary mb-3 card-height" id="card" (click)="card_click('user/events')">
          <div class="card-body text-center d-flex flex-column justify-content-center">
            <h1 class="card-title">Active Events</h1>
            <h1 class="display-4">{{this.eventCount}}</h1>
          </div>
        </div>
      </div>
  
      <!-- Dashboard Card 2 -->
      <div class="col-md-6">
        <div class="card text-white text-light mb-3 card-height" id="card" (click)="card_click('user/feedbacks')">
          <div class="card-body text-center d-flex flex-column justify-content-center">
            <h1 class="card-title text-dark">Active Feedbacks</h1>
            <h1 class="display-4 text-dark">{{this.feedbackCount}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  