<div class="container my-5">
    <h3 class="text-primary">EVENTS</h3>

    <h6 class="text-center my-5" *ngIf="this.events.length < 1">No Events found!</h6>

    <table class="table table-striped table-bordered" *ngIf="this.events.length > 0">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>{{event.name}}</td>
                <td>
                    {{ event.description.split(" ").length > 12 
                        ? event.description.split(" ").slice(0, 20).join(" ") + "..." 
                        : event.description }}
                </td>
                <td>
                    <a [routerLink]="[event.eventId]">View</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

