<div class="container mt-5">
    <h3 class="text-primary">USERS</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Enrollment Number</th>
                <th>Branch</th>
                <th>Admin</th>
                <th>Deleted</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersList">
                <td>{{user.firstName + ' ' + user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.studenEnrollmentNumber}}</td>
                <td>{{user.branch}}</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="isAdmin" [checked]="user.isAdmin" (change)="chkAdmin_changed($event, user.userId)">
                    </div>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="isDeleted" [checked]="user.isDeleted" (change)="chkDeleted_changed($event, user.userId)">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>