<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container bg-primary">
    <a class="navbar-brand" href="#">  
      <h2 class="text-white">FestFlowAI</h2>
    </a>
    
    <form class="d-flex">
      <input class="form-control form-control-sm" id="txtUsername" type="text" placeholder="Username or Email">
      <input class="form-control form-control-sm mx-3" id="txtPassword" type="password" placeholder="Password">
      <button type="submit" class="btn btn-light">Login</button>
    </form>
  </div>
</nav>

<section class="container">
  <div class="row">
    <div class="col-6">
      <img class="img-fluid" src="images/Websitephoto.avif" alt="Website Photo">
      <b class="slogan bg-primary text-center text-light py-1 d-block">Focuses on the smooth flow of festivals and events with AI.</b>
    </div>
    <div class="col-4 mt-3 offset-md-1">
      <h2>Create an account</h2>
      <b>It's free and always will be</b>
      
      <form>
        <div class="d-flex gap-2 mt-4">
          <input class="form-control" id="signUserName" type="text" placeholder="First name">
          <input class="form-control" id="signPassword" type="password" placeholder="Password">
        </div>
        <input class="form-control mt-3" id="signEmail" type="email" placeholder="Mobile Number or Email Address">
        <input class="form-control mt-3" id="password" type="password" placeholder="New Password">
        <input class="form-control mt-3" id="confirmPassword" type="password" placeholder="Confirm Password">
        <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>
      </form>
    </div>
  </div>
</section>

<div class="footerx bg-primary text-center text-light py-1">
  <small>&copy; FestFlowAI - All rights reserved - 2025.</small>
</div>
