<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container bg-primary">
    <a class="navbar-brand" href="#">  
      <h2 class="text-white">FestFlowAI</h2>
    </a>

    <div class="ms-auto">
      <form class="d-flex">
        <input class="form-control form-control-sm me-2" id="txtUsername" type="text" placeholder="Email">
        <input class="form-control form-control-sm me-2" id="txtPassword" type="password" placeholder="Password">
        <button type="submit" class="btn btn-light">Login</button>
      </form>
    </div>
  </div>
</nav>

<section class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid w-100" src="images/Websitephoto.avif" alt="Website Photo">
      <div class="slogan bg-primary text-center text-light py-2">
        <b>Focuses on the smooth flow of festivals and events with AI.</b>
      </div>
    </div>

    <div class="col-md-5 offset-md-1 mt-3">
      <h2>Create an account</h2>
      <b>It's free and always will be</b>

      <form>
        <div class="d-flex gap-2 mt-4">
          <input class="form-control" id="signUserName" type="text" placeholder="First Name">
          <input class="form-control" id="signLastName" type="text" placeholder="Last Name">
        </div>
        <input class="form-control mt-3" id="signEmail" type="email" placeholder="Email Address">
        <input class="form-control mt-3" id="Student ID"type="text" placeholder="Student ID">
        <input class="form-control mt-3" id="signPassword" type="password" placeholder="New Password">
        <input class="form-control mt-3" id="confirmPassword" type="password" placeholder="Confirm Password">
        <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Sign Up</button>
      </form>
    </div>
  </div>
</section>

<div class="footerx bg-primary text-center text-light py-2 mt-4">
  <small>&copy; FestFlowAI - All rights reserved - 2025.</small>
</div>
