<div class="container mt-5 d-flex justify-content-between align-items-center">
    <h3 class="text-primary">EVENTS</h3>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEventModal">
        + Add Event
    </button>
</div>

<!-- Grid -->
<div class="container my-2">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Live</th>
                <th>Feedback</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of eventsList">
                <td>{{event.name}}</td>
                <td>
                    {{ event.description.split(" ").length > 12 
                    ? event.description.split(" ").slice(0, 10).join(" ") + "..." 
                    : event.description }}
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="isLive" [checked]="event.isLive" (change)="drpLive_change($event, event.eventId)">
                    </div>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="isAvailableForFeedback" [checked]="event.isAvailableForFeedback" (change)="drpFeedback_change($event, event.eventId)">
                    </div>
                </td>
                <td>
                    <a [routerLink]="[event.eventId,'responses']">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <!-- Added `modal-xl` for extra-wide modal -->
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-light" id="addEventModalLabel">Add New Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Event</button>
            </div>
        </div>
    </div>
</div>

