<div class="container mt-5">
    <h3 class="text-primary">HOME</h3>
    <div class="row">
        <div class="col-4">
            <div class="card text-primary bg-light shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-people-fill fs-1 mb-2"></i>
                    <h6 class="mb-1">Users</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-light bg-primary shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-person-badge fs-1 mb-2"></i>
                    <h6 class="mb-1">Students</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-primary bg-light shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-calendar-event-fill fs-1 mb-2"></i>
                    <h6 class="mb-1">Events</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card text-light bg-primary shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-chat-right-fill fs-1 mb-2"></i>
                    <h6 class="mb-1">Feedbacks</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card text-primary bg-light shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-question-octagon fs-1 mb-2"></i>
                    <h6 class="mb-1">Questions</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card text-light bg-primary shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-chat-right-fill fs-1 mb-2"></i>
                    <h6 class="mb-1">Answers</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card text-primary bg-light shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-amd fs-1 mb-2"></i>
                    <h6 class="mb-1">Departments</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card text-light bg-primary shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-person-lock fs-1 mb-2"></i>
                    <h6 class="mb-1">Admins</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

        <div class="col-4 mt-3">
            <div class="card text-primary bg-light shadow-sm">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="bi bi-card-list fs-1 mb-2"></i>
                    <h6 class="mb-1">Questionairres</h6>
                    <h3 class="mb-0">{{ dashboardStats.users }}</h3>
                </div>
            </div>
        </div>

    </div>